.btn {
    width: 80%;

    &--subscribe {
        background-image: url('../img/btn-1.svg');
        background-repeat: no-repeat;
    }

    &--accept {
        background-image: url('../img/btn-2.svg');
        background-repeat: no-repeat;
    }

    // height: 100%;
    // text-align: center;
}