// Desktop
@media (max-width: 1200px) {
    .main {
        // background-image: url(../img/bg.jpg);
    }
}

// Mobile
@media (max-width: 425px) {
    .main {
        // height: 96vh;
        flex-direction: column;
        // align-items: stretch;
        // background-image: url('../img/bg.jpg');

        background-repeat: no-repeat;
        background-size: cover;
    }

    .header {
        padding-top: 50px;
    }

    .option {
        flex-direction: column;
    }
}