@import "_base";

@import "_variables";
@import "_header";
@import "_button";

@import "_footer";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  // height: 100vh;
  // background-attachment: fixed;
}

.bg-img {
  background-image: url(../img/bg.jpg);
  // background-image: cover;
  // background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  // width: 100%;
}

.container {
  display: flex;
  // text-align: center;  
  align-items: center
}

// #subscribe {
//   text-align: center;
//   width: 70%;
// }

.main {
  // height: 100vh;
  // background-position: top;
  // background-size: 95vh auto;
  // width: 100%;
}


@import "media";