*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: black;
}

header {
  background-color: greenyellow;
}

footer {
  background-color: greenyellow;
}

@media (max-width: 425px) {
  body {
    background: goldenrod;
  }
}
@media (max-width: 62.5em) {
  body {
    background: darkslategray;
  }
}