// COLOR VARIABLES
$color-subscribe-btn: red;
$color-accept-btn: red;
$color-exit-btn: darkgrey;
$color-decline-btn: darkgrey;
$color-body: black;



// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-desktop: 62.5em;   // <1000px
$bp-mobile: 425px;    // >425px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  color: $color-body;
}

