@import "base";

@import "header";

@import "footer";

@media (max-width: $bp-mobile) {
  body {
    //background-color: rebeccapurple;
    background: goldenrod;
  }
}

@media (max-width: $bp-desktop) {
  body {
    //background: rebeccapurple;
    background: darkslategray;
  }
}

